<div class="container">
  <div class="center-job-listing">
    <% if (jobs.length > 0) { %>
      <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
    </ul>
    <% } %>
  <% if (jobs.length <= 0) { %>
    <div>
      <h3>No Jobs</h3>
      <p>Create a job by clicking the <i class="fa fa-plus"></i> button </p>
      <p>Buy credits in order to see content from those jobs</p>
    </div>
  <% } %>
  </div>
</div>
<script>
 $(document).ready(function() { 
    jQuery.noConflict();
    $('.collapsible').collapsible({
      accordion : true 
    });
  });
 </script>