<header id="user-container">
  <nav class="top-nav">
      <div class="nav-wrapper teal darken-2">
          <div id="nav-mobile">
              <div class="user-info">
                  <a class="waves-effect white-text btn-flat modal-trigger" id="login" href="#login-modal">Login</a>
                  <a class="waves-effect white-text amber darken-2 btn modal-trigger" id="signup" href="#signup-modal">Sign Up</a>
              </div>
          </div>
      </div>
  </nav>
</header>
<div id="login-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
      <h4>Login</h4>
      <div class="row">
      <form class="col s12">
        <div class="row div-row">
          <div class="input-field col s12 div-row-input">
            <input id="email" type="email" class="validate login-content">
            <label class="input-label" for="email" data-error="Invalid email">Email</label>
          </div>
        </div>
        <div class="row div-row">
          <div class="input-field col s12 div-row-input">
            <input id="password" type="password" class="validate login-content">
            <label class="input-label" for="password" data-error="Invalid password">Password</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
      <div class="center-btn">
          <a class="waves-effect teal darken-2 btn internal-modal-btn login-go">Login</a>
      </div>
  </div>
</div>

<div id="signup-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
      <h4>Sign Up</h4>
      <div class="row">
      <form class="col s12">
        <div class="row div-row">
          <div class="input-field col s12 div-row-input">
            <input id="email" type="email" class="signup-content">
            <label class="input-label" for="email" data-error="Invalid email">Email</label>
          </div>
        </div>
        <div class="row div-row">
          <div class="input-field col s12 div-row-input">
            <input id="firstName" type="text" class="signup-content">
            <label class="input-label" for="firstName">First Name</label>
          </div>
        </div>
        <div class="row div-row">
          <div class="input-field col s12 div-row-input">
            <input id="lastName" type="text" class="signup-content">
            <label class="input-label" for="lastName">Last Name</label>
          </div>
        </div>
        <div class="row div-row">
          <div class="input-field col s12 div-row-input">
            <input id="password" type="password" class="signup-content">
            <label class="input-label" for="password" data-error="Invalid password. Remember it must be X length and have at least 1 capital letter">Password</label>
          </div>
        </div>
        <div class="row div-row">
          <div class="input-field col s12 div-row-input">
            <input id="confirmPassword" type="password" class="signup-content">
            <label class="input-label" for="confirmPassword" data-error="Passwords do not match">Confirm Password</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
      <div class="center-btn">
          <a class="waves-effect teal darken-2 btn internal-modal-btn signup-go">Sign Up</a>
      </div>
  </div>
</div>
 <script>
 $(document).ready(function() { 
    jQuery.noConflict();
    $('.modal-trigger').leanModal();
  });
 </script>