.center-btn { text-align: center; height:100%; }
.internal-modal-btn {width:30%;}
.body{
    /* stuff */
}

p {
	margin:0px;
}

.user-info {
	float:right;
	margin-right:5%;
}

.center-job-listing {
	width:80%;
	margin:auto;

}
